@model Nop.Plugin.Pickup.PickupInStore.Models.TimeSlotListModel
@{
    Layout = "";
}
<div class="select-pickup-point" style="margin-top: 10px;width: 100%">
    @if (Model.Any())
    {
        @if (Model.Count == 1)
        {
            var pointTimeSlot = Model.First();
            <input name="pickup-points-timeslot-id" id="pickup-points-timeslot-id" type="hidden" value="@($"{pointTimeSlot.Id +"__" + pointTimeSlot.LimitOrderPerTimeSlot}")" />
            <ul>
                <li class="single-pickup-point name">@pointTimeSlot.TimeSlot</li>
            </ul>
        }
        else
        {
            <label for="pickup-points-timeslot-select">@T("Checkout.PickupPoints.SelectPickupTimeSlot")</label>
            <select name="pickup-points-timeslot-id" id="pickup-points-timeslot-select" class="address-select" title="">
                @foreach (var pointTimeSlot in Model)
                {
                    <option value="@($"{pointTimeSlot.Id +"__" + pointTimeSlot.LimitOrderPerTimeSlot}")">
                        @(
                            pointTimeSlot.TimeSlot
                            )
                    </option>
                }
            </select>
        }
    }
</div>
